[Unit]
Description=Chat service 6
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/chats/chat6
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
